/ {
	aliases {
		qdec0 = &qdec;
	};
};

&timers4 {
	status = "okay";
	qdec: qdec {
		compatible = "st,stm32-qdec-distance";
		status = "okay";
		pinctrl-0 = <&tim4_ch1_pd12 &tim4_ch2_pd13>;
		pinctrl-names = "default";
		st,input-polarity-inverted;
		st,input-filter-level = <FDIV32_N5>;
		st,counts-per-revolution = <4706>;
	};
};
